<!DOCTYPE html>

<html>

<head>
    <title>Generator ankiet</title>
    {% include 'snippets/header.html' %}
</head>

<body>

    <!-- Body -->
    <style type="text/css">
        .main {
            min-height: 100vh;
            height: 100%;
    </style>
    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>
    <!-- End body -->

    {% include 'snippets/footer.html' %}

</body>

</html>