{% extends 'base.html' %}

{% block content %} <!-- content is name -->

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Utwórz ankietę.</h1>
    <br class="lead">
    Zapytaj kogo chcesz. O co chcesz. Kiedy chcesz.</br></br>

    {% if request.user.is_authenticated %}
        <a class="btn btn-outline-primary" href="#">Start!</a>

    {% else %}
        <a class="btn btn-outline-primary" href="{% url 'login' %}">Start!</a>
    {% endif %}

</div>

{% endblock content %}