{% extends 'base.html' %}

{% block content %}

<h2>Rejestracja</h2>
<form method="post">{% csrf_token %}

    {% for field in registration_form %}
        <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style="color:grey;">{{field.help_text}}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color:red;">{{field.help_text}}</p>
            {% endfor %}

        </p>
    {% endfor %}

    <button type="submit">Zarejestruj się</button>

</form>

{% endblock content %}
